#scatterChart {
  width:50%;
  margin: 0 auto;
  float: right;
  padding-bottom: 50px;
  clear: both;
  overflow: hidden;
}

form {
  
  width: 50%;
  
  padding-top: 100px;
  padding-right: 100px;
  

}


label {
  display: block;
  padding-top: 25px;
  font-size: 20px;
}

table{
  margin: 5% auto;
  font-size: 1vw;
  text-align: center;
  width: 80%;
}

#dataForm{
  float: right;
  text-align: left;
}


