#scatterChart {
  width:50%;
  margin: 0 auto;
  float: right;
  padding-bottom: 50px;
  clear: both;
  overflow: hidden;
}

form {
  
  width: 50%;
  padding-right: 100px;
  border: 5px solid rgb(246,146,30);
  box-shadow: 10px 9px 26px -7px rgba(0,0,0,0.75);
  padding-left: 100px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color:rgb(187, 85, 92);
  

}


label {
  display: block;
  padding-top: 25px;
  font-size: 20px;
}

table{
  margin: 5% auto;
  font-size: 1vw;
  text-align: center;
  width: 80%;
}

#dataForm{
  float: left;
  text-align: left;
  padding-left: 120px;
  margin-left: 30px;
  color: white;
}


th{
  font-weight: bolder;
  font-size: 3vh;
}

td, th{
  padding: 10px;
  border: solid rgb(86,0,10);
  box-sizing: border-box;
  text-align: center;
}


.main{
  color: black;
  padding-bottom: 5%;
}

.bad{
  background: rgba(86,0,10,.5);
}

.perfectlyBad{
  background: #870d17;
  color: white;
}

.semiPerfect{
  background: rgba(246,146,30,.5);
}

.perfect{
  background: rgb(246,146,30);
  font-weight: 900; 
  color: #870d17;
  text-shadow: 1px 1px#870d17;
}

h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

body{
  margin: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}
