/*  font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */


header {
  margin: 30px 0 30px 0;
  border-bottom: 1.5px solid rgb(189, 189, 189);
}

.buyline {
  color: #666;
  font-size: 1.1em;
  margin-left: 33%;
}

.forIowa {
  width: 225px;
  height: auto;
  float: left;
}
.cs4ia {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #870d17;
  font-size: 4em;
  padding-top: 2.3%;
}

.cs4ia span {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-style: italic;
}

header div img {
  max-width:100%;
  max-height:100%;
}

div h1 {
  margin-left: 16%;
}

nav {
  margin-right: 18%;
}

nav ul {
  text-align: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  height: 67px;
  width: 100px;
}

nav a {
  padding-top: 18px;
  display: block;
  text-decoration: none;
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

nav li:hover, a:active {
  background-color: rgb(212, 211, 211);
}

footer {
  bottom: 0;
  background-color: #870d17;
  color: #ffff;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  padding-top: 1.3%;
}