body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #870d17;
  font-weight: bold;
  font-size: 2.5em;
}

nav {
  background: linear-gradient(white, gray);
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  height: 4%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0, auto;
}

.pieOne {
float: left;
margin: 0 auto;
width: 50%;
}

.pieTwo {
float: right;
margin: 0 auto;
width: 50%;
}

table, form{
  margin: 5% auto;
  font-size: 1vw;
  width: 80%;
  text-align: center;
}

select, input, button{
  height: 100%;
  width: 10%;
  text-align: center;
}


td, th{
  padding: 10px;
  border: solid rgb(86,0,10);
  box-sizing: border-box;
  text-align: center;
}