/*  font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */


header {
  margin: 30px 0 30px 0;
  border-bottom: 1.5px solid rgb(189, 189, 189);
}

.buyline {
  color: #666;
  font-size: 1.1em;
  margin-left: 33%;
}

.forIowa {
  width: 225px;
  height: auto;
  float: left;
}
.cs4ia {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #870d17;
  font-size: 4em;
}

.cs4ia span {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-style: italic;
}

header div img {
  max-width:100%;
  max-height:100%;
}

div h1 {
  margin-left: 16%;
}

nav {
  margin-right: 18%;
}

nav ul {
  text-align: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  height: 67px;
  width: 100px;
}

nav a {
  padding-top: 18px;
  display: block;
  text-decoration: none;
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

nav li:hover {
  background-color: rgb(212, 211, 211);
}

button{
  margin-left: 73px;
}

footer {
  bottom: 0;
  background-color: #870d17;
  color: #ffff;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  padding-top: 1.3%;
}


section{
  height: 225px;
}
section img{
  float: right;
}
.bodyWrapper {

  height: 900px;
}

.aboutImage{
  float:left;
}

nav ul li a{
  display: block;
  height: inherit;
}
/* .mainWrapper{

  height: 1200px;
} */
p {
  font-size: 1.25em;
  line-height: 20px;
  
}

.smug{
  display: inline;
  height: 15px;
  width: 15px;
}

@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.smug:hover{
  animation: shake .1s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}