body {
	/*
		This has been handled predominately by the Bootstrap container class
	*/
}
hr {
	width: 800px;
	color: #305C8F;
}

p {
	width: 800px;
}

h4 {
	color: #A13E36;
}

header {
	padding: 8px;
	border: 1px solid #305C8F;
}

/* The Footer */
footer {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid 1px #A13E36;
}

.documentNavigationList a {
	display: block;
	float: left;
	margin-right: 5px;
	width: 150px;
	text-align: right;
}

.documentNavigationList p {
	
}

section.alternateFlowSubSection h5 {
	color: #A13E36;
	font-weight: bold;
	font-style: italic;
}

section.useCaseSVGSection {
	text-align: center;
}


span.errorSpan {
	color: red;
	font-weight: bold
}


/*
span.header {
	display: block;
	width: 800px;
	border: 2px solid #305C8F;
	padding: 8px;
}
span.headerline {
	display: block;
	clear: both;
}
span.headerline label {
	display: block;
	float: left;
	margin-right: 5px;
	width: 75px;
	text-align: right;
}
span.createddate {
	display: block;
	clear: both;
}
span.author {
	display: block;
	clear: both;
}
span.introduction {
	display: block;
	width: 600px;
	clear: both;
	padding: 8px;
}
span.ulHeader {
	font-weight: bold;
}
ul {
	list-style-type: disc;
}
ul li {
	width: 400px;
}
ol li {
	width: 400px;
}
*/
span.header {
	display: block;
	width: 800px;
	border: 1px solid #305C8F;
	padding: 8px;
}
span.headerline {
	display: block;
	clear: both;
}
span.headerline label {
	display: block;
	float: left;
	margin-right: 5px;
	width: 150px;
	text-align: right;
}
span.createddate {
	display: block;
	clear: both;
}
span.author {
	display: block;
	clear: both;
}
span.introduction {
	display: block;
	width: 600px;
	clear: both;
	padding: 8px;
}
span.olHeader {
	font-weight: bold;
	color: #A13E36;
}
ol.outer {
	list-style-type: decimal;
}
ol.inner {
	list-style-type: lower-alpha;
}
li {
	width: 400px;
}
/* Data Definition Styles*/
dt {
	font-weight: bold;
}
dd {
	width: 600px;
}

/* THIS PART GETS USED ON SPECIFICATION DOCUMENTS AS PART OF THE NUMBERING */
span.specNo {
	display: block;
	float: left;
	font-weight: bold;
	padding-right: 3px;
}


/*  TABLE ELEMENTS */
th {
	text-align: center;
	font-weight: bold;
	color: #A13E36;
}

td {
	padding-bottom: 3px;
}

/* The Footer */
div.footer {
	clear: both;
	width: 800px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid 1px #A13E36;
}